.camera__wrap {
  transform: scale(0.4);
  min-width: 350px;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.camera__body {
  background-color: #1b1d1d;
  height: 100%;
  width: 70%;
  position: absolute;
  left: 0;
  border-radius: 0.9rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.camera__body-k7 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.camera__body-k7 .tape {
  border-radius: 50%;
  background-color: #40596b;
  width: 100px;
  height: 100px;
  position: relative;
  animation: k7roll 2.5s linear infinite;
}
.camera__body-k7 .tape .center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.camera__body-k7 .tape .roll {
  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
}
.camera__body-k7 .tape .roll:nth-child(1) {
  left: 7%;
  top: 50%;
  transform: translatey(-50%);
}
.camera__body-k7 .tape .roll:nth-child(2) {
  left: 50%;
  bottom: 7%;
  transform: translatex(-50%);
}
.camera__body-k7 .tape .roll:nth-child(3) {
  left: 50%;
  top: 7%;
  transform: translatex(-50%);
}
.camera__body-k7 .tape .roll:nth-child(4) {
  right: 7%;
  top: 50%;
  transform: translatey(-50%);
}
.camera__body__stuff {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.camera__body__stuff-bat {
  height: 100%;
  width: 40%;
  background-color: #189f8c;
}
.camera__body__stuff-pointer {
  border-radius: 50%;
  background-color: #ce8645;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.camera__body__stuff-pointer.first {
  margin-left: auto;
}
.camera__body-optic {
  background-color: #1b1d1d;
  width: 30%;
  height: 90%;
  top: 5%;
  border-radius: 0 15% 15% 0;
  position: absolute;
  left: 70%;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}
.camera__body-light {
  z-index: -1;
  position: absolute;
  height: 60%;
  width: 30%;
  top: 20%;
  right: 0;
  position: absolute;
  box-shadow: 95px 0 15px 10px rgba(91, 114, 134, 0.2);
  animation: light linear 0.3s infinite;
}
@keyframes k7roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes light {
  0% {
    box-shadow: 100px 0 60px 2px rgba(91, 114, 134, 0.2);
  }
  50% {
    box-shadow: 115px 0 35px 4px rgba(91, 114, 134, 0.3);
  }
  100% {
    box-shadow: 110px 0 45px 2px rgba(91, 114, 134, 0.1);
  }
}
